<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymo">
    <title>Immobile</title>
    <style>
        h1 {
            font-size: 25px;
            font-weight: bold;
            color:#424244
        }
        th{
            color:grey
        }
    </style>
</head>
<body>
{% include "header.html" %}
{% block content %} {% endblock %}
<!--{% include "footer.html" %}-->
</body>
</html>