{% extends "estrutura.html" %}
    {% block content %}
        <div class="container pt-5">
            <div class="container row">
                <div class="col-6">
                <h1 >Extrato da Transação</h1>
                    <div class="row mb-5 pb-2">
                        <div class="col-6">
                            <label for="">Forma de pagamento</label>
                            <input type="text" value="{{venda.id_pagamento}}" class="form-control" disabled="disabled">
                        </div>
                        <div class="col-6">
                            <label for="">Valor da venda</label>
                            <input type="text" value="R$ {{venda.id_imovel.valor}}" class="form-control" disabled="disabled">
                        </div>
                    </div>
                    <h1 >Descrição da Compra</h1>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Imóvel comprado</label>
                            <input type="text" value="{{venda.id_imovel}}" class="form-control" disabled="disabled">
                        </div>
                        <div class="col-6">
                            <label for="">Localidade</label>
                            <input type="text" value="{{venda.id_imovel.endereco}}" class="form-control" disabled="disabled">
                        </div>
                        <div class="col-6 mt-4">
                            <label for="">Data da venda</label>
                            <input type="text" value="{{venda.get_data_venda_br}}" class="form-control" disabled="disabled">
                        </div>
                        <div class="col-6 mt-4">
                            <label for="">Outras informações</label>
                            <input type="text" value="{{venda.id_imovel.informacoes}}" class="form-control" disabled="disabled">
                        </div>

                    </div>
                </div>
                <div class="col-6">
                <h1 >Dados Humanos</h1>
                    <div class="row">
                    <div class="col-5">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://image.freepik.com/free-vector/man-shows-gesture-great-idea_10045-637.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Cliente: {{venda.id_cliente}}</h5>
                          </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://image.freepik.com/free-vector/man-shows-gesture-great-idea_10045-637.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Corretor: {{venda.id_corretor}}</h5>
                          </div>
                        </div>
                    </div>
</div>
                </div>
            </div>
        </div>


    {% endblock %}