<footer style="padding-top:180px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="https://user-images.githubusercontent.com/48656494/123637435-661b7680-d7f4-11eb-9d00-36b9a02dcd2e.png"
                alt="Logomarca Immobile" width="250px" height="150px">
            </div>
            <div class="col-4 pt-5 mt-3">
                <p class="">Feito por Dassaev Lima - Desenvolvedor e Analista de Sistemas</p>
            </div>

        </div>
    </div>
</footer>