<footer>
    <div class="container" style="position:fixed;bottom:0px;">
        <div class="row">
            <div class="col-2">
                <img src="https://user-images.githubusercontent.com/48656494/123637435-661b7680-d7f4-11eb-9d00-36b9a02dcd2e.png"
                alt="Logomarca Immobile" width="250px" height="150px">
            </div>
            <div class="col-4 pt-5">
                <p class="pt-4">
                        Feito por Dassaev Lima - Desenvolvedor e fututo Analista de sistemas da Strategi
                </p>
            </div>

        </div>
    </div>

</footer>