{% extends "estrutura.html" %}
    {% block content %}
    <main class="pt-5">
        <div class="container">
            <div class=" row">
                <div class="col-md-3">
                    <h1>Gerenciar Imóveis</h1>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Pesquisar" class="form-control">
                </div>
                <div class="col-3">
                    <!--<select class="form-select" aria-label="Default select example">
                        <option selected>Filtar por mais recente</option>
                        <option value="1">One</option>
                    </select>-->

                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-outline-info btn-block">Cadastrar Imóvel</button>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Vender</th>
                    </tr>
                </thead>
                <tbody>
                {% for imovel in imoveis %}
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/48656494/123637435-661b7680-d7f4-11eb-9d00-36b9a02dcd2e.png"
                             alt="" class="img-fluid" width="50px" height="50px" style="border:2px solid whitesmoke;">
                        </td>
                        <td>{{imovel.descricao}}</td>
                        <td>{{imovel.tipo}}</td>
                        <td>{{imovel.valor}}</td>
                        <td>
                            <a href="/vendas/nova/{{imovel.id}}/">
                                <i class="fas fa-store" style="background-color:whitesmoke;padding:5px;
                                border-radius:5px;color:grey"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% endblock %}
